<!doctype html>
<title>Modelling dashboard</title>
<body>
<div class=page>
  <form action="{{ add_url }}" method="POST">
    <input placeholder="function" type="text" name="function" value="">
    <input placeholder="interval" type="text" name="interval">
    <input placeholder="step" type="text" name="step">
    <input type="submit" value="Create">
  </form>

  <hr>
  <form id="img_gen" action="{{ img_gen_url }}" method="POST">
    <input type="submit" value="Update selected">
  </form>
  <table>
    <thead>
      <tr>
        <td></td>
        <td>function</td>
        <td>interval</td>
        <td>step</td>
        <td>chart</td>
        <td>updated</td>
      </tr>
    </thead>
    {% for model in models %}
    <tr>
      <td><input type="checkbox" form="img_gen" name="id" value="{{ model.id }}"></td>
      <td>{{ model.function }}</td>
      <td>{{ model.interval }}</td>
      <td>{{ model.step }}</td>
      <td>{% if model.error %}{{ model.error }}
          {% elif model.has_image %}<img src="{{ model.url }}" alt="">
          {% endif %}
      </td>
      <td>{% if model.updated %} {{ model.updated }} {% endif %}</td>
    </tr>
    {% endfor %}
  </table>

</div>
</body>
