<!doctype html>
<title>Modelling dashboard</title>
<body>
<div class=page>
  <form class="" action="{{ add_url }}" method="POST">
    <input placeholder="function" type="text" name="function" value="">
    <input placeholder="interval" type="text" name="interval">
    <input placeholder="step" type="text" name="step">
    <input type="submit">
  </form>

  <hr>

  <table>
    <thead>
      <tr>
        <td>id </td>
        <td>function</td>
        <td>interval</td>
        <td>step</td>
        <td>chart</td>
        <td>error</td>
      </tr>
    </thead>
    {% for model in models %}
    <tr>
      <td>{{ model.id }}</td>
      <td>{{ model.function }}</td>
      <td>{{ model.interval }}</td>
      <td>{{ model.step }}</td>
      <td>{% if model.has_image %}<img src="{{ model.url }}" alt="">{% endif %}</td>
      <td>{% if model.error %}{{ model.error }}{% endif %}</td>
    </tr>
    {% endfor %}
  </table>

</div>
</body>
